<header>
  <!--  <img class="avator" src="https://unpkg.com/bgzo/img/bGZo.png"/>-->
  <h1>
    <span class="home-title">bGZo</span>
    <span class="post-suffix">'s blog</span>
  </h1>
  <div class="follow-btns">
    <a class="btn btn-rss" href="{{ '/feed.xml' | relative_url }}">RSS</a>
    <a
      class="btn btn-github"
      href="https://t.me/imbgzo"
      rel="noopener noreferrer"
      >Telegram</a
    >
    <a
      class="btn btn-github"
      href="https://github.com/bgzo"
      rel="noopener noreferrer"
      >GitHub</a
    >
  </div>
</header>
<nav>
  <ul>
    <li><a href="{{ '/' | relative_url }}">HOME</a></li>
    <li><a href="{{ '/labs.html' | relative_url }}">LABS</a></li>
    <li><a href="{{ '/thoughts.html' | relative_url }}">THOUGHTS</a></li>
    <li><a href="{{ '/README.html' | relative_url }}">README</a></li>
  </ul>
</nav>
<script>
  document.querySelector(".home-title").addEventListener("click", function () {
    window.location.href = "{{ '/' | relative_url }}";
  });
</script>
