<meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }} - {{ site.title }}</title>
<link rel="apple-touch-icon" sizes="180x180" href="http://unpkg.com/bgzo/fav/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="http://unpkg.com/bgzo/fav/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="http://unpkg.com/bgzo/fav/favicon-16x16.png">
<link rel="manifest" href="http://unpkg.com/bgzo/fav/site.webmanifest">
<link rel="mask-icon" href="http://unpkg.com/bgzo/fav/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<link href="/assets/css/custom.min.css" rel="stylesheet">
<link rel="canonical" href="{{ site.url }}" />
{% feed_meta %}
{% seo %}