<header>
  <h1>bGZo<span>'s blog</span></h1>
  <div class="follow-btns">
    <a class="btn btn-github" href="https://github.com/bgzo" rel="noopener noreferrer">GitHub</a>
    <a class="btn btn-mastodon" href="https://o3o.ca/@bgzo" rel="noopener noreferrer">Mastodon</a>
    <a class="btn btn-rss" href="http://blog.bgzo.cc/feed.xml">RSS</a>
  </div>
</header>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/posts.html">Posts</a></li>
    <li><a href="/thoughts.html">Thoughts</a></li>
    <li><a href="/letters.html">Letters</a></li>
    <li><a href="/readme.html">Readme</a></li>
  </ul>
</nav>