<header>
  <h1>@<span>bGZoCg</span></h1>

  <div class="follow-btns">
    
    <a class="btn btn-twitter" href="https://twitter.com/bgzocg" target="_blank" rel="noopener noreferrer">
      Twitter
    </a><a class="btn btn-github" href="https://github.com/bgzocg" target="_blank" rel="noopener noreferrer">
      GitHub
    </a><a class="btn btn-rss" href="https://bgzocg.github.io/blog/feed.xml" target="_blank">
      RSS
    </a>
  </div>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [['$','$']]
      }
    });
  </script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script> 
</header>
