<p class="post-meta">
  {% assign publish_date = page.published | default: page.date %} {% if
  publish_date %}
  <span
    >Published:
    <time class="publish-date" datetime="{{ publish_date | date: '%F' }}"
      >{{ publish_date | date: "%Y/%m/%d" }}</time
    ></span
  >
  {% endif %} {% if page.modified %}
  <span
    >Updated:
    <time class="update-date" datetime="{{ page.modified | date: '%F' }}"
      >{{ page.modified | date: "%Y/%m/%d" }}</time
    ></span
  >
  {% endif %} {% assign char_count = content | strip_html | strip_newlines |
  remove: " " | size %} {% assign read_minutes = char_count | divided_by: 400 %}
  {% if read_minutes < 1 %}{% assign read_minutes = 1 %}{% endif %}
  <span>{{ char_count }} 字 · {{ read_minutes }} min</span>
</p>
