:root {
  --border-radius: 4px;
  --strava-brand-color: #e34402;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-size: 18px;
  line-height: 1.7;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  padding: 1.2rem;
}

.container main {
  margin-bottom: 2rem;
}

.highlight {
  overflow-x: auto;
}

main img {
  box-shadow: 0px 0px 6px #aeaeae;
  border-radius: var(--border-radius);
  max-width: 100%;
  padding: 6px;
}

video {
  max-width: 100%;
}

.no-shadow {
  box-shadow: none;
}

nav ul {
  align-items: flex-start;
  flex-wrap: wrap;
  display: flex;
  list-style: none;
  padding-left: 0;
}

nav ul li {
  margin-bottom: 0.75rem;
}

nav ul li:not(:last-of-type) {
  margin-right: 1rem;
}

.posts {
  border-left: 1px dashed #aeaeae;
  list-style: none;
  padding-left: 1.25rem;
}

.post {
  align-items: flex-start;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 1.5rem;
  position: relative;
}

.post .publish-date {
  font-size: 0.75rem;
}

.post a {
  font-size: 1.15rem;
}

.post::after {
  border: 1px solid #bdbbbb;
  border-radius: 50%;
  background-color: white;
  content: "";
  height: 0.5rem;
  left: -1.5rem;
  position: absolute;
  top: 10px;
  width: 0.5rem;
}

figure {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

blockquote {
  position: relative;
}

blockquote::before {
  background-color: #FEDFE1;
  border-radius: var(--border-radius);
  bottom: 0px;
  content: "";
  left: -40px;
  position: absolute;
  top: 0px;
  width: 4px;
}

.highlighter-rouge {
  margin-bottom: 1rem;
}

code {
  background-color: #f3f3f3;
  border-radius: var(--border-radius);
  font-size: 0.85rem;
  padding: 3px 6px;
}

pre.highlight {
  padding-left: 0.5rem;
}

pre {
  font-size: 0.85rem;
  line-height: 1.5;
}

pre code {
  background-color: transparent;
  padding: 0;
}

.text-center {
  text-align: center;
}

hr {
  color: #565656;
  margin: 2rem auto;
  width: 8rem;
}

header {
  margin-bottom: 1.2rem;
}

header h1 {
  font-size: 1.75rem;
  margin: 0;
  margin-bottom: 1.2rem;
}

header h1 span {
  display: inline-block;
  opacity: 0;
  position: relative;
  transform: translateY(-20px);
  transition: opacity 0.15s ease-out, transform 0.3s ease-out;
  z-index: 2;
}

header h1:hover span {
  opacity: 1;
  transform: translateY(0);
}

article h2 {
  margin-bottom: 0;
}

.post-meta {
  color: #565656;
  font-size: 0.75rem;
  margin-top: 0;
}

.confetti-please {
  --extra-confettiNumber: 220;
  --extra-confettiLengthVariance: 4;
  --extra-confettiWeightVariance: 3;

  background-image: paint(extra-confetti);
}

.post.published-recently.confetti-please {
  margin-bottom: 0.5rem;
  padding-bottom: 1.75rem;
}

.post.published-recently.confetti-please .publish-date,
.post.published-recently.confetti-please a {
  background-color: white;
}

.follow-btns .btn + .btn {
  margin-left: 0.5rem;
}

a {
  color: black;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  text-decoration: none;
}

a::before {
  content: "";
  display: block;
  position: absolute;
  height: 0.5em;
  bottom: 2px;
  left: 4px;
  width: 100%;    
  --bg-opacity: .75;
  background-color: #FEDFE1;
  opacity: .5;
}

a:hover::before{
  background: #D7C4BB;
}

table {
  padding: 0;
  word-break: initial;
  border-collapse: collapse;
}

table tr {
  border: 1px solid #dfe2e5;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n), 
thead {
  background-color: #f8f8f8;
}

table th {
  background:#bec1c4;
  font-weight: bold;
  border: 1px solid #dfe2e5;
  border-bottom: 0;
  margin: 0;
  padding: 6px 13px;
}

table td {
  border: 1px solid #dfe2e5;
  margin: 0;
  padding: 6px 13px;
}

table th:first-child,
table td:first-child {
  margin-top: 0;
}

table th:last-child,
table td:last-child {
  margin-bottom: 0;
}

tr:nth-child(n):hover td {
  background:#D7C4BB;
}

.contents{
  font-size: 16px;
  overflow: auto;
  max-height: 400px;
  max-width: 300px;
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  padding: 10px;
  float: right;
}

.contents>ul{
  list-style: none;
  margin-left: -20px;
}


@media (min-width: 22em) {
  header h1 {
    font-size: 2rem;
  }
}

@media (min-width: 28em) {
  nav ul li {
    margin-bottom: 0;
  }
}

@media (min-width: 37.5em) {
  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  header h1 {
    margin-bottom: 0;
  }

  .follow-btns {
    text-align: right;
  }
}

@media (min-width: 60em) {
  figure {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }

  .container {
    display: flex;
  }

  .container main {
    flex-grow: 1;
    padding-right: 1rem;
    margin-bottom: 0;
  }
}

@media (min-width: 65em) {
  body,
  body.single-post {
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
  }

  body {
    width: 90%;
  }

  body.single-post {
    width: 44rem;
  }
}

@media (min-width: 88em) {
  body {
    width: 44rem;
  }
}
