<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | @bGZo</title>

    <link href="/assets/css/rouge-github.css" rel="stylesheet">
    <link href="/assets/css/custom.css" rel="stylesheet">

    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="./feed.xml">

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌈</text></svg>">

    <link rel="canonical" href="{{ site.url }}" />
  </head>
  <body>
    {% include header.html %}

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts.html">Posts</a></li>
        <li><a href="/thoughts.html">Thoughts</a></li>
        <li><a href="/projects.html">Projects</a></li>
      </ul>
    </nav>

    <div class="container">
      <main>
        {{ content }}
      </main>
    </div>
  </body>
</html>
