<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body class="single-post">
    {% include header.html %}
    <main>
      <article>
        <h2>{{ page.title }}</h2>
        {% include post-meta.html %} {% capture toc_output %} {% include
        toc.html html=content %} {% endcapture %} {% assign toc_stripped =
        toc_output | strip %} {% if toc_stripped != "" %}
        <div class="contents">{{ toc_output }}</div>
        {% endif %} {% include outdated-notice.html %} {{ content }}
      </article>
    </main>
    {% include mathjax.html %} {% include embed.html %} {% include linkify.html
    %} {% include callout.html %} {% include top.html %} {% if page.comments ==
    true or page.comments == "True" %} {% include giscus.html %} {% endif %} {%
    include source.html %}
    <script
      src="{{ '/assets/js/code-blocks.js' | relative_url }}"
      defer
    ></script>
  </body>
</html>
