<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body class="single-post">
    {% include header.html %}
    <main>
      <article>
        <h2>{{ page.title }}</h2>
        {% include post-meta.html %}
        <div class="contents">
          {% include toc.html html=content %}
        </div>
        {{ content }}
        {% include giscus.html %}
        {% include source.html %}
      </article>
    </main>
    {% include mathjax.html %}
    {% include top.html %}
  </body>
</html>