<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body class="single-post">
    {% include header.html %}
    <main>
      <article>
        <h2>{{ page.title }}</h2>
        {% include post-meta.html %} {% capture toc_output %} {% include
        toc.html html=content %} {% endcapture %} {% assign toc_stripped =
        toc_output | strip %} {% if toc_stripped != "" %}
        <div class="contents">{{ toc_output }}</div>
        {% endif %} {{ content }} {% include source.html %}
      </article>
    </main>
    {% include mathjax.html %} {% include embed.html %} {% include linkify.html
    %} {% include top.html %} {% if page.comments == true %} {% include
    giscus.html %} {% endif %}
  </body>
</html>
